body {
    display: flex;
    justify-content: center;
}

.boardContainer {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
}

.boardCell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    
}